<div class="background">

  <div class="banner"></div>

  <div class="container">
    <div class="box1" (click)="poking($event)"></div>
    <div class="box2" (click)="poking($event)"></div>
    <div class="box3" (click)="poking($event)"></div>
    <div class="box4" (click)="poking($event)"></div>
    <div class="box5" (click)="poking($event)"></div>
    <div class="box6" (click)="poking($event)"></div>
    <div class="box7" (click)="poking($event)"></div>
    <div class="box8" (click)="poking($event)"></div>
    <div class="box9" (click)="poking($event)"></div>
  </div>

  <button (click)="change()">!win</button>
  {{win}}
</div>